@page
@using Microservice_2.Pages
@model IndexModel

<div class="text-center" style="background-color: darksalmon">
    <h1 class="display-4">Microservice 2</h1>
    <p>This is the last microservice to be called. The background color is darksalmon.</p>
    <p>The number received is: @Model.NumberReceived</p>
</div>
